@{
    ViewBag.Title = "Home";
}

@model List<MVCBlog.Models.Post>
<aside class="sidebar">
    <ul>
        @for (int i = 0; i < 5 && ViewBag.SideBarPosts.Count > i; i++)
        {
            <li><a href="/Posts/Details/@ViewBag.SideBarPosts[i].Id"> @ViewBag.SideBarPosts[i].Title </a></li>
        }
    </ul>
</aside>

<main>
    @for (int i = 0; i < 3 && ViewBag.SideBarPosts.Count > i; i++)
    {
        <section class="row">
            <article class="col-md-6">
                <h2>@ViewBag.SideBarPosts[i].Title</h2>
                <p>
                    Posted on <i>@ViewBag.SideBarPosts[i].Date</i>
                    @if (ViewBag.SideBarPosts[i].Author != null)
                    {
                        @:by <i>@ViewBag.SideBarPosts[i].Author.UserName (@ViewBag.SideBarPosts[i].Author.UserName)</i>
                    }
                </p>
                <p>@ViewBag.SideBarPosts[i].Body</p>
            </article>
        </section>
    }
</main>